<div id="app">
  <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
    <a href="#" class="navbar-brand text-center" style="padding-top: 25px;">Helping Families Nelson<br/><p style="font-size: smaller;">Āwhina Whānau Tai o Aorere, Te</p></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">
          <div class="row p-2">
            <div class="text-center my-auto" style="padding-right: 10px; padding-left: 10px;">
              <fa-icon [icon]="faHome"></fa-icon>
            </div>
            <div class="text-center">
              <div>Home<br>Kāinga</div>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <li class="nav-item">
          <a href="/about" class="nav-link" routerLink="about">
            <div class="row p-2">
              <div class="text-center my-auto" style="padding-right: 10px; padding-left: 10px;">
                <fa-icon [icon]="faQuestionCircle"></fa-icon>
              </div>
              <div class="text-center">
                <div>About<br>Pēwhea</div>
              </div>
            </div>  
          </a>
        </li>
        <li class="nav-item">
          <li class="nav-item">
            <a href="/contact" class="nav-link" routerLink="contact">
              <div class="row p-2">
                <div class="text-center my-auto" style="padding-right: 10px; padding-left: 10px;">
                  <fa-icon [icon]="faPhone"></fa-icon>
                </div>
                <div class="text-center">
                  <div>Contact<br>Whakapā</div>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
        <a href="/donate" class="nav-link" routerLink="donate">
          <div class="row p-2">
            <div class="text-center my-auto" style="padding-right: 10px; padding-left: 10px;">
              <fa-icon [icon]="faCloudUploadAlt"></fa-icon>
            </div>
            <div class="text-center">
              <div>Donate<br>Takoha</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">
          <div class="row p-2">
            <div class="text-center my-auto" style="padding-right: 10px; padding-left: 10px;">
              <fa-icon [icon]="faUserPlus"></fa-icon>
            </div>
            <div class="text-center">
              <div>Sign Up<br>Rēhita</div>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">
          <div class="row p-2">
            <div class="text-center my-auto" style="padding-right: 10px; padding-left: 10px;">
              <fa-icon [icon]="faSignInAlt"></fa-icon>
            </div>
            <div class="text-center">
              <div>Login<br>Takiuru</div>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">
          <div class="row p-2">
            <div class="text-center my-auto" style="padding-right: 10px; padding-left: 10px;">
              <fa-icon [icon]="faUser"></fa-icon>
            </div>
            <div class="text-center">
              <div>{{ username }} Profile<br>Whakaritenga</div>
            </div>
          </div>
          </a>
      </li>
      <li class="nav-item">
        <a href="/donate" class="nav-link" routerLink="donate">
          <div class="row p-2">
            <div class="text-center my-auto" style="padding-right: 10px; padding-left: 10px;">
              <fa-icon [icon]="faCloudUploadAlt"></fa-icon>
            </div>
            <div class="text-center">
              <div>Donate<br>Takoha</div>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">
          <div class="row p-2">
            <div class="text-center my-auto" style="padding-right: 10px; padding-left: 10px;">
              <fa-icon [icon]="faHome"></fa-icon>
            </div>
            <div class="text-center">
              <div>Log Out<br>Takiputa</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
<br />
<br />
<br />
  <div class="container" style="margin-top: 50px;">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
