<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      #registerForm="ngForm"
      name="form"
      (ngSubmit)="onSubmit(registerForm)"
    >
      <div class="form-group">
        <label class="control-label required" for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          ngModel
          required
          minlength="5"
          maxlength="30"
          placeholder="Enter Username..."
          #username="ngModel"
        />
        <div class="alert alert-danger" *ngIf="username.errors?.required && this.isSubmit">
          Username is required
        </div>
        <div class="alert alert-danger" *ngIf="username.errors?.minlength && this.isSubmit">
          Username must be 8 characters
        </div>
      </div>
      <div class="form-group">
        <label class="control-label required" for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          ngModel
          required
          email
          maxlength="70"
          placeholder="Enter Email..."
          #email="ngModel"
        />
        <div class="alert alert-danger" *ngIf="email.errors?.required && this.isSubmit">
          Email Is Required
        </div>
        <div class="alert alert-danger" *ngIf="email.errors?.email && this.isSubmit">
          Email does not match a valid format
        </div>
      </div>
      <div class="form-group">
        <label class="control-label required" for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          ngModel
          required
          password
          minlength="8"
          maxlength="30"
          placeholder="Enter Password..."
          #password="ngModel"
        />
        <div class="alert alert-danger" *ngIf="password.errors?.required && this.isSubmit">
          Password Is Required
        </div>
        <div class="alert alert-danger" *ngIf="password.errors?.minlength && this.isSubmit">
          Password needs to be at least 8 characters
        </div>
      </div>
      <div class="form-group">
        <label class="control-label required" for="address">Address</label>
        <input
          type="text"
          class="form-control"
          name="address"
          ngModel
          required
          placeholder="Enter Address..."
          #address="ngModel"
        />
        <div class="alert alert-danger" *ngIf="address.errors?.required && this.isSubmit">
          Address Is Required
        </div>
      </div>
      <div class="form-group">
        <label class="control-label required" for="phone">Phone Number</label>
        <input
          type="text"
          class="form-control"
          name="phone"
          ngModel
          required
          placeholder="Enter Phone Number..."
          #phone="ngModel"
        />
        <div class="alert alert-danger" *ngIf="phone.errors?.required && this.isSubmit">
          Phone Number Is Required
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center control-label required">
        <div class="p-2">
            <input 
                type="radio"
                id='charity'
                class="form-control"
                name="type"
                value="charity"
                required
                ngModel
                #type="ngModel"
            >
            <label for="charity"><p>Charity</p></label>
        </div>
        <div class="p-2">
          <input 
              type="radio" 
              id="beneficiary" 
              class="form-control"
              name="type" 
              value="beneficiary"
              required
              ngModel
              #type="ngModel"
              >
          <label for="beneficiary"><p>Beneficiary</p></label>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="type.errors?.required && this.isSubmit">
        Type Is Required
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="registerForm.submitted && isSignUpFailed">
        SignUp failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
