<div class="col-md-12">
  <div class="card card-container">
    <form #donateForm="ngForm" (ngSubmit)="onSubmit(donateForm)" novalidate *ngIf="!isSuccessful">
      <!-- <select id='type' name='categoryName' ngModel required #categorySelect="ngModel">
        <option *ngFor="let item of data" [value]="item.name">
          {{data.name}}
        </option>    
      </select> -->
      <div class="form-group">
        <input type="text" class="form-control" name="categoryName" ngModel required placeholder="Enter Type..." #categoryName="ngModel">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="size" ngModel required placeholder="Clothing Size..." #size="ngModel">
      </div>
      
      <div class="d-flex flex-row justify-content-center">
        <div class="p-2">
            <input 
                type="radio"
                id='male'
                class="form-control"
                name="gender"
                value="male"
                ngModel
                #gender="ngModel"
            >
            <label for="male"><p>Male</p></label>
        </div>
        <div class="p-2">
          <input 
              type="radio" 
              id="female" 
              class="form-control"
              name="gender" 
              value="female"
              ngModel
              #gender="ngModel"
              >
          <label for="female"><p>Female</p></label>
        </div>
        <div class="p-2">
            <input 
                type="radio" 
                id="other" 
                class="form-control"
                name="gender" 
                value="other"
                ngModel
                #gender="ngModel"
            >
            <label for="other"><p>Either</p></label>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="age" ngModel required placeholder="Approx age..." #age="ngModel">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="other" ngModel required placeholder="Any other details? Stains, rips etc..." #other="ngModel">
      </div>
      <br/>
      <button class="btn btn-primary btn-block" type="submit">Submit</button>

      <div class="alert alert-warning" *ngIf="donateForm.submitted && isUploadFailed">
        Upload failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your upload was successful!
      <p>Would you like to upload another item?</p>
      <button (click)="isSuccessful = false" class="btn btn-primary btn-block">Yes</button>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
    <h4>   
    <strong>Your Tokens:</strong>
      {{ currentUser.tokens }}
    </h4>
  </div>
</div>  
