<mat-card class="donation-panel">
    <mat-card-content>
      <img mat-card-image class="opaque" src="https://www.performancehealth.com/media/amasty/blog/how-to-teach-your-child-with-special-needs-to-dress-independently.jpg" alt="Photo of a child with new clothes">
    <div class="centered">
      <mat-card-title class="header middle">Donate</mat-card-title>
      <p>
        We here at Helping Families Nelson are heavily reliant on your support through donating any unwanted clothing you may have. If you have some clothes that you don't fit or simply do not wear, we would love it if you were able to bring it in so that we can give it to someone who really needs it!
      </p>
      <mat-card-actions>
        <button class="button middle" onclick="window.location.href='../../donate'" mat-button>Donate Now</button>
      </mat-card-actions>
    </div>
    </mat-card-content>
    
  </mat-card>