<!-- only generates if images are found -->
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="..\..\..\..\public\images\cropped-HFN-Clothes.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Our Motto</h3>
        <p>Helping families with necessities to help children thrive and reach their potential</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="..\..\..\..\public\images\cropped-HFN-Clothes.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Our work</h3>
        <p>We facilitate donations from the community and the distribution of donated items to anyone who needs it</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="..\..\..\..\public\images\cropped-HFN-Clothes.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Good in the Hood</h3>
        <p>Thank you to everyone who voted for us and to Z Energy for their funding of this award</p>
      </div>
    </ng-template>
  </ngb-carousel>